@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}

body {
    /* Memaksa browser menggunakan GPU untuk render agar tidak macet */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Optimasi scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none; /* 🎯 Tambahkan ini agar warning hilang */
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield; /* 🎯 Tambahkan ini agar warning hilang */
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        width: 210mm;
        height: 297mm;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    [ref="printRef"] {
        page-break-after: avoid;
    }
}

/* input[type="text"],
textarea {
    text-transform: uppercase;
} */

/* Khusus placeholder agar tetap normal/kecil tidak apa-apa */
/* input::placeholder {
    text-transform: none;
} */
